.wrapper {
    background: linear-gradient(170deg, gold, white, gold);
    font-family: arial;
    width: 500px;
    border-radius: 10px;

    .inner {
        padding: 20px;
        text-align: center;

        h1{
            margin: 0px;
        }
        h2{
            margin: 0px;
        }
    }

}