.wrapper {
    background-color: gold;
    font-family: arial;
    align-content: center;
    width: 500px;

    .inner {
        padding: 20px;

        h1{
            margin: 0px;
        }
        h2{
            margin: 0px;
        }
    }

}